<!-- Page header -->
<div class="page-header">
  <h3>Timeline </h3>
</div>
<!-- /Page header -->

<div class="container">
  <!-- Timeline -->
  <div class="timeline">

    <!-- Line component -->
    <div class="line text-muted"></div>

    <div *ngFor="let crt of activitiesObj">
      <!-- Separator -->
      <div class="separator text-muted">
      </div>
      <!-- /Separator -->

      <!-- Panel -->
      <div style="margin-left:50px;" class="jumbotron jumbotron-fluid">
        <div class="container">
            <!-- Icon -->
            <div class="panel-heading icon">
              <!--<img style="margin-left:7px; max-height:25px;" class="img-fluid rounded-circle" src="../../../assets/img/checked-black.png">-->
            </div>
            <!-- /Icon -->

            <!-- Body -->
            <div class="panel-body">
              <h5>{{crt.message}}</h5>
            </div>
            <!-- /Body -->

          <time>{{_timeService.timeDifference(crt.timestamp)}}</time>

        </div>
      </div>

      <!-- /Panel -->
    </div>

  </div>
  <!-- /Timeline -->

</div>
