<!-- Page header -->
<div class="page-header">
  <h3>Timeline </h3>
</div>
<!-- /Page header -->

<div class="container">
  <!-- Timeline -->
  <div class="timeline">

    <!-- Line component -->
    <div class="line text-muted"></div>

    <div *ngFor="let crt of activitiesObj">
      <!-- Separator -->
      <div class="separator text-muted">
      </div>
      <!-- /Separator -->

      <!-- Panel -->

      <div style="margin-left:7%" class="card">
        <div class="card-block card-blockquote">
          <div style="padding-top:5px; padding-left:15px; padding-bottom: 18px;">
            <p class="card-text">{{crt.message}} <small style="float:right; padding-right:15px;" class="text-muted">{{_timeService.timeDifference(crt.timestamp)}}</small></p>

          </div>

        </div>
      </div>


      <!-- /Panel -->
    </div>

  </div>
  <!-- /Timeline -->

</div>
