<div class="list-group">
  <div *ngFor="let crt of paymentsHistoryList let i = index" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h5 class="align-middle" style="text-align: center">
          <img *ngIf="crt.status == 'waiting'"  style=" margin-left:25px; margin-right:5%; max-height: 28px; float:left;" class="img-fluid rounded-circle" src="../../../assets/img/waiting.png">
          <img *ngIf="crt.status == 'success'"  style=" margin-left:25px; margin-right:5%; max-height: 28px; float:left;" class="img-fluid rounded-circle" src="../../../assets/img/checked.png">
          <img *ngIf="crt.status == 'error'"  style=" margin-left:25px; margin-right:5%;; max-height: 28px; float:left;" class="img-fluid rounded-circle" src="../../../assets/img/cancel.png">

          <span class="align-middle">
            {{crt.ch}} <img style="max-height: 22px; display: inline-block" class="img-fluid rounded-circle hidden-xs-down" src="../../../assets/img/euro-green.png">
            converted to
            {{crt.amount}} <img style="max-height: 22px; display: inline-block" class="img-fluid rounded-circle" src="../../../assets/img/price-tag.png">
          </span>

        </h5>
      </div>

      <div *ngIf="crt.status == 'error'" class="col-md-6 col-sm-6 col-xs-6">
        {{crt.error}}
      </div>

      <div style="float:left" [class.col-md-6.col-xs-6.col-sm-6]="crt.status == 'error'" [class.col-md-5.col-xs-5.col-sm-5]="crt.status != 'error'">
        <small style="float:left"><span style="text-align: right"> {{_timeDifference.timeDifference(crt.timestamp)}} </span> </small>
      </div>
    </div>

  </div>
</div>
