<ofc-header-shared></ofc-header-shared>


<div style="margin-top:25px;" class="container">
  <div class="jumbotron">
    <div style="width:100%" class="btn-group" role="group" aria-label="Basic example">
      <button (click)="selectedFilterOption = 'top'" (click)="sortProjectsTop(projectsObjFiltered)" style="width:50%" type="button" class="btn btn-default"><h5><img style="margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/stars.png"> Top</h5> </button>
      <button (click)="selectedFilterOption = 'new'" (click)="sortProjectsNew(projectsObjFiltered)" style="width:50%" type="button" class="btn btn-default"><h5><img style="margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/new.png">New </h5></button>
    </div>
    <input (keyup)="filterByName(searchInput)" (change)="filterByName(searchInput)" [(ngModel)] = "searchInput" type="text" class="form-control" aria-label="By name" placeholder="Project name">
  </div>

  <br>

  <div class ="row">
    <div [class.col-md-6]="projectsObjFiltered.length > 1" *ngFor="let crtObject of projectsObjFiltered" >
      <ofc-projectView [post]="crtObject" [showDetailsButton] = "true"></ofc-projectView>
      <br>
    </div>
  </div>


</div>
