<div *ngIf="editable == false" class="card text-xs-center">

    <img class="card-img-top" src="{{userProfile?.avatarUrl}}" alt="{{userProfile?.username}} profile picture">
    <div class="card-block">
      <h4 class="card-title">{{userProfile?.name}}

        <!--If user is authentificated and it's his profile-->
        <img *ngIf="_authService.isAuthenticated() && _authService.getUserName() != project?.username" (click) = "editable = true" style="float:right; margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/edit-black.png">
      </h4>
      <hr>
      <h5 class="card-title">
        <a href="{{userProfile?.githubUrl}}">
          <img style="margin-left:5px; margin-right:3px; max-height: 22px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/github.png">
          {{userProfile?.username }}
        </a>
      </h5>
      <p class="card-text"> {{ userProfile?.bio }}</p>
      <a href="{{userProfile?.blog}}" class="card-text align-text-bottom">{{userProfile?.blog}}</a>
    </div>

</div>

<div *ngIf="editable == true" class="card text-xs-center">

  <img class="card-img-top" src="{{userProfile?.avatarUrl}}" alt="{{userProfile?.username}} profile picture">
  <div class="card-block">
    <h4 class="card-title">{{userProfile?.name}}

      <!--If user is authentificated and it's his profile-->
      <img *ngIf="_authService.isAuthenticated() && _authService.getUserName() != project?.username" (click) = "editable = false" (click) = "save()" style="float:right; margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/save.png">
    </h4>
    <hr>
    <h5 class="card-title">
      <a href="{{userProfile?.githubUrl}}">
        <img style="margin-left:5px; margin-right:3px; max-height: 22px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/github.png">
        {{userProfile?.username }}
      </a>
    </h5>
    <p class="card-text" class="highlight"  contenteditable="true" [textContent]="userProfile.bio" (input)="userProfile.bio = $event.target.textContent"> {{ userProfile?.bio }}</p>
    <a href="{{userProfile?.blog}}"   contenteditable="true" [textContent]="userProfile.blog" (input)="userProfile.blog = $event.target.textContent" class="card-text align-text-bottom highlight">{{userProfile?.blog}}</a>
  </div>

</div>
