<div *ngIf="_authService.isAuthenticated() && notifications?.length > 0">

<popover-content style="margin-top:110px; padding:1px; max-width:300px;" #myPopover
                 title="   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{numberOfNotifications()}}"
                 placement="bottom"
                 [animation]="true"
                 [closeOnClickOutside]="true" >

  <a><img *ngIf="currentPage > 1" (click)="currentPage = currentPage - 1" style="margin-top:-40px; margin-left:5px; margin-right:5px; max-height: 25px; position: absolute; left:5px;" src="../../../assets/img/arrow-left-black.png"></a>
  <a><img *ngIf="canLoadMorePages(notifications, currentPage, numberOfNotificationsPerPage)" (click)="currentPage = currentPage + 1" style="margin-top:-40px; margin-left:5px; margin-right:5px; max-height: 25px; position: absolute; right:5px;" src="../../../assets/img/arrow-right-black.png"></a>
  <ul class="list-group">
    <div *ngFor="let crtNotification of pagination(notifications, currentPage, numberOfNotificationsPerPage); let i = index">
      <div routerLink="/{{crtNotification?.url}}">
        <li class="list-group-item justify-content-between  list-group-item-action">
          <img (click) = "deleteNotification(i)" style="right:8px;  max-height: 20px; position: absolute;" class="img-fluid rounded-circle" src="../../../assets/img/ban.png">

          <a><h6 style="margin-right:11px;">{{crtNotification.message}}</h6></a>
        </li>
      </div>

    </div>



  </ul>
</popover-content>

<a style="float:right; margin-left:15px; margin-right:15px; display: inline-block; margin-top:4px;" [popover]="myPopover">
  <img style="max-height: 25px;" class="img-fluid rounded-circle" src="../../../assets/img/bell.png">
</a>

</div>
