<div *ngIf="editable == false" class="card text-xs-center">
  <div class="card-header">
    {{post.ch}}
    <img style="max-height: 25px; display: inline-block" class="img-fluid rounded-circle" src="../../../assets/img/price-tag.png">
    <img *ngIf="_authService.getFirebaseUID() == post.byFirebaseUID" (click)="editable = true" style="margin-left:5px; max-height: 25px; display: inline-block; float:right;" class="img-fluid rounded-circle" src="../../../assets/img/edit-black.png">
  </div>
  <div class="card-block">
    <h4 class="card-title">{{post.title}} </h4>
    <p class="card-text">{{post.description}}</p>
    <a *ngIf="showDetailsButton != false" [routerLink]="['/project',  post.title ]" class="btn btn-primary">Details</a>
  </div>
  <div class="card-footer text-muted align-middle">
    {{post?.tags}}
  </div>
</div>


<div *ngIf="editable == true" class="card text-xs-center">
  <div class="card-header">
    {{post.ch}}
    <img style="max-height: 25px; display: inline-block" class="img-fluid rounded-circle" src="../../../assets/img/price-tag.png">
    <img *ngIf="_authService.getFirebaseUID() == post.byFirebaseUID" (click)="editable = false" (click)="save()" style="margin-left:5px; max-height: 25px; display: inline-block; float:right" class="img-fluid rounded-circle" src="../../../assets/img/save.png">
  </div>
  <div class="card-block">
    <h4 class="card-title">{{post.title}} </h4>
    <p contenteditable="true" class="card-text highlight" [textContent]="post.description" (input)="post.description=$event.target.textContent">{{post.description}}</p>
    <a *ngIf="showDetailsButton != false" [routerLink]="['/project',  post.title ]" class="btn btn-primary">Details</a>
  </div>
  <div contenteditable="true" class="card-footer text-muted align-middle highlight" [textContent]="post.tags" (input)="post.tags=$event.target.textContent">
    {{post?.tags}}
  </div>
</div>
