<div *ngIf="editable == false" class="card text-xs-center">
  <img class="card-img-top" src="../../../assets/img/preview.jpeg" alt="Card image cap">
  <div class="card-header">
    <h3 style="margin-left:25px;" class="card-title">
      <span>{{post.title}}</span>
      <img *ngIf="_authService.getFirebaseUID() == post.byFirebaseUID" (click)="editable = true" style="margin-left:5px; max-height: 25px; display: inline-block; float:right;" class="img-fluid rounded-circle" src="../../../assets/img/edit-black.png">
    </h3>
  </div>
  <div class="card-block">
    <h4 class="card-text">{{post.description}}</h4>
    <a *ngIf="showDetailsButton != false" [routerLink]="['/project',  post.title ]" class="btn btn-default">Details</a>
  </div>
  <div class="card-footer text-muted align-middle">
    {{post?.tags}}
  </div>
</div>

<div *ngIf="editable == true" class="card text-xs-center">
  <div  style="margin-bottom:0px;" class="form-group">
    <label style="margin-bottom:0px; width:100%;" class="custom-file highlight">
      <input ngFileSelect [options]="options" [events]="inputUploadEvents" type="file" id="header" name="header" class="custom-file-input headerImgUpload">
      <span data-content="DO NOT Choose file..." class="custom-file-control" [class.custom-file-control-empty]="1">FileName</span>
    </label>
  </div>
  <div class="card-header">
    <h4 class="card-title">
      <span>{{post.title}}</span>
      <img *ngIf="_authService.getFirebaseUID() == post.byFirebaseUID" (click)="editable = false" (click)="save()" style="margin-left:5px; max-height: 25px; display: inline-block; float:right" class="img-fluid rounded-circle" src="../../../assets/img/save.png">
    </h4>

  </div>
  <div class="card-block">
    <h4 contenteditable="true" class="card-text highlight" style="white-space: pre-wrap;" [textContent]="post.description" (input)="post.description=$event.target.textContent">{{post.description}}</h4>
    <a *ngIf="showDetailsButton != false" [routerLink]="['/project',  post.title ]" class="btn btn-default">Details</a>
  </div>
  <div contenteditable="true" class="card-footer text-muted align-middle highlight" [textContent]="post.tags" (input)="post.tags=$event.target.textContent">
    {{post?.tags}}
  </div>
</div>

{{headerImgUpload}}
{{respoonse}}
