<li *ngIf="auth.getUserName() != ''"class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{auth.getUserName()}}</a>
  <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
    <a class="dropdown-item" href="#">bla1</a>
    <a class="dropdown-item" href="#">bla2</a>
    <a class="dropdown-item" (click)="auth.signOut()" >Logout</a>
  </div>
</li>
<li *ngIf="auth.getUserName() == ''" class="nav-item active">
    <button *ngIf="auth.getUserName() == ''" class="sign-in__button btn-default" (click)="signInWithGithub()" type="button"><h5>GitHub Login</h5></button>
</li>
