<ofc-header-shared></ofc-header-shared>

<div style="margin-top:25px;" class="container">
  <div class="row align-self-end">
    <div class="col-md-4">
      <ofc-userDetails [userProfile]="userProfile"></ofc-userDetails>
      <ofc-paymentsHistory style="margin-top:5px;"></ofc-paymentsHistory>
      <br>
    </div>

    <div class="col-md-8">
      <div class="container bordered">
        <ofc-chartsView></ofc-chartsView>
        <br><br>
        <ofc-timelineView [activities]="activitiesObj"></ofc-timelineView>
      </div>
    </div>

    <br>

    <div style="float:right" class="col-md-8">
      <div class="container bordered">

      </div>
    </div>


  </div>
</div>



