.container {
    margin-top:25px;
    margin-bottom:25px;
}

.form-group {
    margin-top:25px;
}

.thumb.active{
  margin-top:5px;
  font-family: inherit;
  display:inline-block;
}

.not-valid{
  background-color:#55595c;
}
