<ofc-header-shared *ngIf="header != -1"></ofc-header-shared>


<div *ngIf="!_authService.isAuthenticated()"  class="container">
  <br><br><br>
  <h3 style="text-align:center;">Opsi, login first, and then you can add your project </h3>

  <br>
  <div style="width:100%; max-width:500px; margin-left:auto; margin-right:auto" class="card card-inverse">
    <img style="max-width:100%; margin-left:auto; margin-right:auto" src="../../../assets/img/open.jpg" alt="..." class="rounded center card-img">
    <div class="card-img-overlay">

    </div>
  </div>
</div>
<div *ngIf="this._authService.isAuthenticated()" class="container">
  <br>
  <h3> Add a project </h3>
  <br>

  <form (ngSubmit)="onSubmit(addProjectForm)" [formGroup]="addProjectForm">
    <div class="col-md-12">

      <div class="form-group">
        <h5>Project Title</h5>
        <input formControlName="title" type="text" class="form-control" id="" aria-describedby="ProjectTitle" placeholder="Enter the title you want">
        <!--<small id="emailHelp" class="form-text text-muted">To find it more easily</small>-->
      </div>



    </div>

    <div class="col-md-6">

      <div class="form-group">
        <h5>GIT project</h5>
        <select  formControlName="gitProject" class="form-control" id="exampleSelect1">
          <option disabled selected [selected]="1">...</option>
          <option *ngFor="let repo of reposList">{{repo.name}}</option>
        </select>
      </div>

    </div>

    <div class="col-md-6">
      <div class="form-group">
        <h5>Tags</h5>
        <input formControlName="tags" type="text" class="form-control" id="" aria-describedby="ProjectTags" placeholder="Ex: CSS, JAVA, JAVASCRIPT">
        <!--<small id="emailHelp" class="form-text text-muted">To find it more easily</small>-->
      </div>



    </div>

    <div class="col-md-12">
      <div class="form-group">
        <h5>Job Description</h5>
        <textarea  formControlName="description" class="form-control" id="exampleTextarea" rows="5"></textarea>
      </div>
    </div>



    <button [disabled]="addProjectForm.status == 'INVALID'"  style="width:100%" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{{ addProjectForm.value | json }}
<ofc-footer></ofc-footer>
