<ofc-header-shared></ofc-header-shared>

<br>


<div class="container">
  <h3>{{projectName}}</h3>
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="container bordered">
          <h4 style="margin-top:15px">I Make a git Pull request</h4>
          <hr>

          <br>
          <h4 style="margin-top:15px">II Choose your completed features</h4>
          TO DO
          <hr>

          <br>
          <h4 style="margin-top:15px">III Select git pull here</h4>
          <ofc-pullsView [pull] = "projectPullsObj"></ofc-pullsView>
          <hr>

          <br>
          <h4 style="margin-top:15px">III $</h4>
          To DO
        </div>
      </div>
    </div>
  </form>
</div>
