<ofc-header-shared></ofc-header-shared>


<div style="margin-top:25px;" class="container">
  <div class="row">
    <div class="col-md-4">
      <div style="margin-bottom:12px">
        <button [routerLink]="['/send',  projectTitle]" type="button" class="btn btn-default btn-lg btn-block">Contribute</button>
      </div>

      <ofc-projectView *ngIf="projectObj != null" [post]="projectObj" [showDetailsButton] = "false"></ofc-projectView>

      <ofc-newsView [project]="projectObj" [title] = "projectTitle"></ofc-newsView>

      <br>
    </div>

    <div class="col-md-8">
      <div class="container bordered">
        <h4 style="margin-top:15px">Features <a *ngIf="_authService.getFirebaseUID() === projectObj.byFirebaseUID" [routerLink]="['/request-features',  projectTitle]"> <img  style="margin-left:5px; max-height: 25px; display: inline-block; position:absolute" class="img-fluid rounded-circle" src="../../../assets/img/add-button.png"> </a> </h4>
        <ofc-featuresView  (newProject)="newProjectHandle($event)" [update]="projectFeaturesObj" [project]="projectObj"></ofc-featuresView>
      </div>
    </div>

    <br>

    <div class="col-md-8">
      <div class="container bordered">
        <h4 style="margin-top:15px">Contributions</h4>
        <ofc-contributionsView (selectedContribution) = "handleSelectedContribution($event)"  [contributions] = "projectContributionsObj" [project]="projectObj"></ofc-contributionsView>
      </div>
    </div>

  </div>
</div>
