<br>

<div *ngIf="editable == false">
  <div *ngFor="let crt of newsList; let i = index" [class.margin-top]="i == 0" class="list-group">
    <div [class.active]="i == 0" [class.blue-background]="i == 0" href="#" class="list-group-item list-group-item-action flex-column align-items-start active blue-background">
      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1">{{crt.title }}<span contenteditable="true" [textContent]="test" (input)="test=$event.target.textContent"> </span> <img *ngIf="i == 0" (click) = "editable = true"  style="float:right; margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/edit.png"> </h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">{{crt.description}}</p>
      <small>{{crt.footer}}</small>
    </div>
  </div>
</div>



<div *ngIf="editable == true">
  <div *ngFor="let crt of newsList; let i = index" [class.margin-top]="i == 0" class="list-group">
    <div [class.active]="i == 0" [class.blue-background]="i == 0" href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1"><span class="highlight" contenteditable="true" [textContent]="crt.title" (input)="crt.title = $event.target.textContent"> {{crt.title }} </span> <img *ngIf="i == 0" (click) = "editable = false" (click) = "save()"  style="float:right; margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/save-white.png"> </h5>
        <small>3 days ago</small>
      </div>
      <p contenteditable="true" class="mb-1 highlight" [textContent]="crt.description" (input)="crt.description = $event.target.textContent">{{crt.description}}</p>
      <small contenteditable="true" class="highlight" [textContent]="crt.footer" (input)="crt.footer=$event.target.textContent">{{crt.footer}}.</small>

      <img *ngIf="i == newsList.length - 1" (click)="plusNews()" style="margin-bottom:-25px; float:right; margin-left:5px; margin-right:5px; max-height: 25px;" class="img-fluid rounded-circle" src="../../../assets/img/add-button.png">
    </div>
  </div>
</div>
