<ofc-header-shared></ofc-header-shared>
<div class="container">
  <h3 style="text-align: center">There are two choices for getting code hour points</h3>
  <br>

  <div class="row">
    <div class="col-md-6" style="min-height:500px; padding-right:20px; border-right: 1px solid #ccc;">
      <h4 style="text-align: center"> Contribute </h4>
      <a style="width:100%" class="btn btn-default text-center" routerLink="/find" routerLinkActive="active"><h5 style="margin-top:3px;">Find projects</h5></a>
        <br><br>

      <div class="card card-inverse">
        <img style="max-width:100%; marign-left:auto; margin-right:auto" src="../../../assets/img/contribute.jpg" alt="..." class="rounded center card-img">
        <div class="card-img-overlay">

        </div>
      </div>
      <div class="card-block card-blockquote">

      </div>
    </div>

    <div class="col-md-6">
      <h4 style="text-align: center"> Purchase </h4>
      <br>
      <ofc-paymentsView></ofc-paymentsView>
    </div>

  </div>
   <br><br>
</div>
<ofc-footer></ofc-footer>
