<ofc-header-shared></ofc-header-shared>
<div class="container">
  <h3 style="text-align: center">There are two choices for getting code hour points</h3>
  <br>

  <div class="row">

    <div class="col-md-6" style="min-height:500px; padding-right:20px; border-right: 1px solid #ccc;">
      <h4 style="text-align: center"> Contribute </h4>
      <br>
      <div>
        <br>
        - small component with top projects -
        -              TO DO                -
      </div>
    </div>

    <div class="col-md-6">
      <h4 style="text-align: center"> Purchase </h4>
      <br>
      <ofc-paymentsView></ofc-paymentsView>
    </div>

  </div>
   <br><br>
</div>
<ofc-footer></ofc-footer>
