<div class="container-full" style="width:100%">
  <div class="row container-full">
    <!--Second column-->
    <div class="col-md-6">
      <h2 class="h2-responsive flex-item text-center">Contribute & Get PH points</h2>
      <div class="card-columns">

        <ofc-projectView [post]="post" *ngFor="let post of posts"></ofc-projectView>
      </div>
    </div>
    <!--/.Second column-->

    <hr class="hidden-md-up">

    <!--Third column-->
    <div class="col-md-6">
      <h2 class="h2-responsive flex-item">Ask for help & Pay with PH points</h2>
      <ul>
        <li><a href="#!">Link 1</a></li>
        <li><a href="#!">Link 2</a></li>
        <li><a href="#!">Link 3</a></li>
        <li><a href="#!">Link 4</a></li>
      </ul>
    </div>
  </div>
</div>
