
<h4 style="margin-top:15px">Questions
  <a><img *ngIf="currentPage > 1" (click)="currentPage = currentPage - 1" style="float:left; margin-left:5px; margin-right:10px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/arrow-left-black.png"></a>
  <a>
    <!-- If user is logged in and is not the owner of the project -->
    <img (click)="addQuestion()" *ngIf="_authService.isAuthenticated() && _authService.getFirebaseUID() != project.byFirebaseUID" style="margin-left:40px; max-height: 25px; display: inline-block; position:absolute" class="img-fluid rounded-circle" src="../../../assets/img/add-button.png">
  </a>
  <a><img  *ngIf="canLoadMorePages(questions, currentPage, numberOfQuestionsPerPage)" (click)="currentPage = currentPage + 1" style="margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/arrow-right-black.png"></a>
</h4>



<div *ngFor="let crtQuestion of pagination(questions, currentPage, numberOfQuestionsPerPage); let i = index" class="card">
  <div class="card-block">
    <!-- If content is not yet editable and current logged in user is eighter the one who asked the questions or the owner of the project -->
    <img *ngIf="(crtQuestion.editable == null || crtQuestion.editable == false) && _authService.isAuthenticated() == true && ( _authService.getFirebaseUID() == project.byFirebaseUID || _authService.getFirebaseUID() == crtQuestion.byFirebaseUID )" (click) = "crtQuestion.editable = true" (click) = "crtQuestion.edited = true"  style="float:right; margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/edit-black.png">
    <!-- If content is not yet editable and the current logged in user is the owner of the project then it can delete the question -->
    <img *ngIf="(crtQuestion.editable == null || crtQuestion.editable == false) && _authService.isAuthenticated() == true && _authService.getFirebaseUID() == project.byFirebaseUID " (click)="removeQuestion(i)" style="float:right; margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/delete-black.png">

    <img *ngIf="crtQuestion.editable == true" (click) = "crtQuestion.editable = false" (click)="saveQuestions()" style="float:right; margin-left:5px; margin-right:5px; max-height: 25px; display: inline-block;" class="img-fluid rounded-circle" src="../../../assets/img/save.png">
    <blockquote class="blockquote">

      <!-- Question section -->
      <div [ngSwitch]="crtQuestion.editable == true && _authService.getFirebaseUID() == crtQuestion.byFirebaseUID && _authService.getFirebaseUID() != project.byFirebaseUID">
        <!-- If this question is editable and the logged in user is not the owner of the project-->
        <p *ngSwitchCase="true" contenteditable="true" [textContent]="crtQuestion.question" (input)="crtQuestion.question = $event.target.textContent" [class.highlight] = "true">{{crtQuestion.question}}</p>
        <!-- Else -->
        <p *ngSwitchDefault>{{crtQuestion.question}}</p>
      </div>


      <footer><a><h6 style="text-size:20dpi" title="Source Title">By {{crtQuestion.byUserName}}</h6></a></footer>
    </blockquote>


    <!-- Answer section -->
    <div [ngSwitch]="crtQuestion.editable == true && _authService.getFirebaseUID() == project.byFirebaseUID">
      <!-- If question is editable and the current logged in user is the owner of the project-->
      <textarea *ngSwitchCase="true" [(ngModel)]="crtQuestion.answer" [class.highlight] = "true" class="card-text"></textarea>
      <!-- Else -->
      <p *ngSwitchDefault class="card-text" [textContent]="crtQuestion.answer" (input)="crtQuestion.answer = $event.target.textContent">{{crtQuestion.answer}}</p>

    </div>

    <p class="card-text"><small class="text-muted">Answered {{crtQuestion.date}} ago</small></p>
  </div>
</div>
