<table style="margin-top:15px;" class="table">
  <thead class="thead-default">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>CodeHours</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let crt of features">
    <a [routerLink]="['/send',  projectTitle]"> <th><img style="max-height: 25px; display: inline-block" class="img-fluid rounded-circle" src="../../../assets/img/right-arrow.png"></th> </a>
    <td>{{crt.title}}</td>
    <td>{{crt.description}}</td>
    <td>{{crt.ch}}  <img style="max-height: 25px; display: inline-block" class="img-fluid rounded-circle" src="../../../assets/img/price-tag.png"> </td>
  </tr>
  </tbody>
</table>

